body {
    background: url(../images/background-2400765_1920.jpg);
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

div.card {
    margin: 30px;
    background-color: #bbdefb;
    border: 1px solid black;
    opacity: 0.6;
}
  
h3.card-title.text-uppercase {
    margin: 5%;
    font-weight: normal;
    color: #000000;
}